/* 全局重置 */
* {
    margin: 0;
    /* 清除外边距 */
    padding: 0;
    /* 清除内边距 */
    box-sizing: border-box;
    /* 设置盒模型为边框盒，包含padding和border */
}

/* 定义全局CSS变量 */
:root {
    /* 颜色定义 */
    --primary-color: #666;
    /* 主要文字颜色 */
    --link-color: #666;
    /* 链接颜色 */
    --link-hover-color: #FEB57E;
    /* 链接悬浮时颜色 */
    --background-color: #fff;
    /* 背景 */
    --background-image: url('../img/background1.png');
    /* 背景图 */

    --font-family: Microsoft YaHei, Heiti SC, Tahoma, Arial, Hiragino Sans GB, sans-serif;
    /* 主要字体 */
    --font-size: 12px;
    /* 主要字体大小 */
    --line-height: 1.5;
    /* 行高 */

    /* 布局定义 */
    --content-width: 1400px;
    /* 主内容区域宽度 */
}

/* 应用全局变量 */
body {
    font-family: var(--font-family);
    /* 应用字体 */
    background-image: var(--background-image);
    /* 应用背景图片 */
    background-size: cover;
    /* 背景图片覆盖整个元素 */
    background-position: center;
    /* 背景图片居中显示 */
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* 背景图固定不随滚动条移动 */
    /* 重复背景图片 */
    color: var(--primary-color);
    /* 应用主要文字颜色 */
    font-size: var(--font-size);
    /* 应用字体大小 */
    line-height: var(--line-height);
    /* 应用行高 */
    -webkit-font-smoothing: antialiased;
    /* 在webkit浏览器中启用抗锯齿 */
}

/* 声明字体图标 */
@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?tomleg');
    src: url('../fonts/icomoon.eot?tomleg#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?tomleg') format('truetype'),
        url('../fonts/icomoon.woff?tomleg') format('woff'),
        url('../fonts/icomoon.svg?tomleg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

/* 版心 */
.w {
    width: 1400px;
    margin: 0 auto;
}

/* 左浮动 */
.fl {
    float: left;
}

/* 右浮动 */
.fr {
    float: right;
}

/* 主题色*/
.style_color {
    color: #F9E4C5;
}

/* 链接样式 */
a {
    color: var(--link-color);
    /* 设置链接颜色 */
    text-decoration: none;
    /* 去除下划线 */
}

a:hover {
    color: var(--link-hover-color);
    /* 悬浮时变更颜色 */
}

/* 容器宽度 */
.w {
    width: var(--content-width);
    /* 宽度 */
    margin: 0 auto;
    /* 水平居中 */
}

/* 文字风格规范化 */
em,
i {
    font-style: normal;
    /* 移除斜体样式 */
}

/* 列表样式 */
li {
    list-style: none;
    /* 移除列表项目的小圆点 */
}

/* 图片默认样式 */
img {
    border: 0;
    /* 移除边框 */
    vertical-align: middle;
    /* 垂直居中 */
}

/* 交互元素样式 */
button,
input {
    border: 0;
    /* 移除边框 */
    outline: none;
    /* 移除焦点时的轮廓线 */
    cursor: pointer;
    /* 鼠标指针变为手形 */
    font-family: inherit;
    /* 继承字体 */
}

/* 工具类样式 */
.hide,
.none {
    display: none;
    /* 隐藏元素 */
}

/* 清除浮动 */
.clearfix::after {
    content: "";
    /* 生成内容 */
    display: block;
    /* 块级显示 */
    clear: both;
    /* 清除浮动 */
}

.clearfix {
    zoom: 1;
    /* 触发IE的hasLayout */
}

/* 遮罩层 */
#overlay {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    font-size: 16px;
    /* IE9以下不支持rgba模式 */
    background-color: rgba(0, 0, 0, 0.5);
    /* 兼容IE8及以下 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000);
    display: none;
}
/* 弹出框主体 */
.popup {

    background-color: #F9E4C5;
    max-width: 400px;
    min-width: 200px;
    height: 240px;
    border-radius: 30px;
    margin: 20% auto;
    text-align: center;
}
/* 弹出框的标题 */
.popup_title {
    font-size: 22px;
    height: 60px;
    line-height: 60px;
    border-bottom: solid 1px #cccccc;
}
/* 弹出框的内容 */
.popup_content {
    height: 50px;
    line-height: 50px;
    padding: 15px 20px;
    margin: auto;
}
/* 弹出框的按钮栏 */
.popup_btn {

    padding-top: 60px;
}
/* 弹出框的按钮 */
.popup_btn button {
    width: 30%;
    height: 50px;
    cursor: pointer;
    border: solid 1px #cccccc;
    border-radius: 15px;
    /*margin: auto;*/
    margin: auto 20px;
    /*margin: 10px;*/
    color: black;
    background-color: var(--link-hover-color);
}
.popup_input{
    background-color: #F9E4C5;
    margin: 20px auto;
    font-size: 25px;
    text-align: center;
}

a {
    display: flex;
    flex-direction: column; /* 垂直排列 */
    align-items: center; /* 居中对齐 */
}

a img {
    margin-bottom: 10px; /* 可以根据需要调整间距 */
}

a span {
    text-align: center; /* 使文字居中 */
}